version: "3.9"
services:
  web:
    image: myapp:latest
    build: .
    container_name: myapp_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    volumes:
      - /var/www/myapp/.next:/app/.next # اختیاری: برای debug / cache
